@font-face{
	font-family: 'Tw_Cen_MT';
	src: url('../res/twcenmt.TTF');
    font-weight: normal;
    font-style: normal;
}

html, body{
	font-family: 'TW_Cen_MT';
	background-color: white;
}

#container{
    text-align: center;
}

.sidebar{
    position: fixed;
    border-radius: 30px;
    left: 50px;
    background-color: white;
    z-index: 1;
    width: 25%;
}

.map-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#map{
    width: 100%;
    height: 100%;
}