/* Simple style for WampServer */

html {
	margin:0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font: 100%/1.4 Impact, Charcoal, sans-serif;
}

abbr {
	font-variant: none;
	border:none;
	text-decoration:none;
}

#head, .config, .alltools, #foot {
	padding: 1em;
}

#head ul, #foot {
	margin: 0;
	padding: 0;
	text-align: right;
	list-style: none;
}

#head, #foot {
	background: darkslategray;
	color: #FFF;
	padding: 1em;
}

#head ul li, ul#foot li {
	margin: 0.5em;
	padding: 0.5em;
	display: inline;
}

#head a, #foot a {
	color: lightgrey;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 4.5em;
	font-weight: normal;
	text-shadow: 1px 1px 0 #000;
}

h2 {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	clear: left;
	font-weight: normal;
}

ul.aliases, ul.projects, ul.tools, ul.vhost, dd ul {
	list-style: none;
	margin: 0 1.2em 1em 1.2em;
	padding: 0;
}


ul.aliases li, ul.projects li, ul.tools li, ul.vhost li, dd ul li {
	float: left;
	margin: 1em;
	padding: 0.5em;
	width: 200px;
	text-align: center;
}
li.projectsdir {
	line-height:95%;
	margin-top:10px;
	padding-right:15px;
	font-size: 0.72em;
	color: #04569A;
}
dd ul li {
	background: lightblue;
	color: dimgrey;
}

.aliases li {
	background: lightgreen;
}

.projects li {
	background: gold;
}

.tools li {
	background: darksalmon;
}

.vhost li {
	background: thistle;
}

dl {
	margin: 1.2em;
	padding: 0;
}

dt {
	margin: 0 1em;
	padding: 0;
	text-decoration: underline;
	clear: left;
}

dd {
	margin: 0;
	padding: 0.5em 1.5em;
}

a {
	color: #2F4F4F;
	text-decoration: none;
}

a:hover {
	color: #000;
}

#foot, #error {
	clear: left;
}

pre {
 white-space:pre-wrap;
 overflow-x:auto;
 font-size:1.3em;
}

/******         Pop-up box when hovering over a link        ******/
a.popup {font-style:none;color:#999;text-decoration:none;font-size:0.8em;}
a:active.popup {border-bottom:0px;} /* Essential for IE          */
a:hover.popup, a:focus.popup {
               border-bottom:0px;   /* Essential for IE          */
               cursor:help;text-decoration:none;
              }
a.popup span {display:none;} /* Invisible text between SPAN tags */
a:hover.popup span, a:focus.popup span {
	display:block;
	position:absolute;
	width:95%;height:auto;top:auto;left:10px;overflow:visible;
	border: 2px solid #ff0099;
	border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	background-color:#ffddff;
	white-space:pre-wrap;
	overflow-x:auto;
	font-family: Consolas, Lucida Console, Courier New, monospace;
	line-height:110%;font-size:1.6em !important;color:black;
	padding:0.5em;margin-top:1.5em;text-align:center;
	font-weight:500;font-style:normal;text-decoration:none;
	z-index:100;}
/*------------------------------------------------------------------*/
